/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
body
{
	font-family:Verdana, Arial;
	font-size:12px;	
	
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#encabezadoDePaginaInicio
{	
	margin:8px auto;
	width:1052px;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#encabezadoDePaginaInicio h1
{
	font-size:25px;
	font-weight:bold;
	margin:0px auto;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	text-align:left;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#encabezadoDePaginaInicio p
{
	color:#666666;
	font-size:12px;	
	margin:0px auto;
	margin-bottom:18px;	
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	text-align:left;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#contenedorEtiqueta
{
	background:#333;
	color:#FFF;
	font-family:Verdana, Arial;
	font-size:12px;
	font-weight:bold;
	margin-left:65px;
	text-align:justify;
	width:394px;
	border-radius: 2em 2em 0em 0em;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#tituloDeEtiqueta
{
	margin-left:15px;
}


#tablaListado table.display
{
	border:solid 1px #666666;
	font-weight:normal;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
.form div.field
{ 
	margin:0 auto; overflow:auto;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#content-form
{
	margin:0 auto;
	padding:0;
	width:40%;
}

/* ———– class form ———– */

.form
{
	border:solid 1px #D0D0D0;
	border-radius: 0em 2em 2em 2em;
	background:rgb(249,249,249);
	margin:0;
	padding:14px;
}

.form label
{
	display:block; 
	float:left;
	font-weight:bold;
	text-align:right;
	width:40%;	
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

.form .field-help
{
	color:#FF4500;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:100%;
}

.form input[type=text], .form input[type=password], .form select
{
	border:solid 1px #BFBFBF/*#aacfe4*/;	
	font-size:12px;
	margin:1px 0px 20px 10px;
	padding:4px 2px;	
	width:30%;	
}

.button
{
	background:#333;
	border:0;
	border-radius:1em;
	color:#FFFFFF;
	cursor:pointer;
	display:block;
	font-family:Verdana, Arial;
	font-size:12px;
	font-weight:bold;
	margin:auto;
	padding:0.8em;
	text-align:center;
	width:125px;
	box-shadow:2px 2px 2px rgba(0,0,0,0.4);
}
.button:hover
{
	opacity:0.7;
}

.form textarea, .form select, .form input[type=text], .form input[type=password]
{
	box-shadow:2px 2px 2px rgba(0,0,0,0.4);
}
.form select
{
	width:30.6%;
}

/* ———– class form ———– */

#contenedorInicio
{
    margin:0;
	padding:0;	
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#contenidoDePaginaInicio
{
	background:white;
	border-radius: 2em; 
 	font-family:Verdana, Arial;
	font-size:12px;
	font-weight:normal;
	margin-top:auto;
	margin-bottom:30px;
	margin-right:auto;
	margin-left:auto;
	text-align:justify;
	width:950px;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#pieDePaginaInicio
{	

}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
.accion-usuario
{
	cursor:pointer;
	margin:4px;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
.accion-usuario img
{
	height:22px;
	width:22px;
}

#tablaListado
{
	display:none;
	
	/*modificado*/
	margin:0px auto;
	text-align:center;
	width:1050px;
}

#loading-big
{
	/*margin:4em 0px;*/
	margin-top:40px;
	text-align:center;
}

#loading-big img
{
	height:200px;
	width:200px;
}