/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
body
{
	font-family:Verdana, Arial;
	font-size:14px;	
}
#fondo
{
	background-image:url(../images/01.png);
	background-repeat: no-repeat;
   
	background-size: 1400px 680px;
		
		
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#encabezadoDePaginaInicio
{	
	margin:8px auto;
	width:1052px;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#encabezadoDePaginaInicio h1
{
	font-size:25px;
	font-weight:bold;
	margin:0px auto;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	text-align:left;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#encabezadoDePaginaInicio p
{
	color:#666666;
	font-size:12px;	
	margin:0px auto;
	margin-bottom:18px;	
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
	text-align:left;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#contenedorInicio
{
    margin:0;
	padding:0;	
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#contenidoDePaginaInicio
{
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
#pieDePaginaInicio, #ayuda
{	
	background:white;
 	font-family:Verdana, Arial;
	font-size:12px;
	font-weight:normal;
	margin:22px auto;
	text-align:justify;
	width:830px;
}
/*--------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------*/
.centrar-imagen {
text-align: center;
} 

#ayuda h2, #ayuda p {
text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
} 

#ayuda a
{	
	color:#000;
	text-decoration:underline;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.3);
}

#ayuda a:hover
{	
	opacity:0.7;
} 

.imagen-ayuda{
	height:315px;
	width:532px;
}